html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

input:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: #36393F;
  display: flex;
}

aside{
  width: 20%;
  height: 100vh;
  position: fixed;
  background-color: #40444B;
  padding-top: 1.875rem;
  padding-left: 1.375rem;
}
aside .logo{
  display: flex;
  gap: 0.938rem;
  align-items: center;
}

aside .presentation{
  width: 3.75rem;
  height: 3.75rem;
  background-color: #F9DC36;
  border: none;
  border-radius: 50%;
  background-color: #F9DC36;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside h3{
  font-size: 1.563rem;
}
aside ul{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0;
  margin-top: 1.375rem;
}
aside ul a{
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}
main{
  width: 80%;
  margin-left: 20%;
}
section{
  height: 100vh;
}

h1{
  font-size: 3.75rem;
  width: 60%;
  text-align: center;
  margin: 0;
}
section.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
}
section.hero .presentation{
  width: 12.5rem;
  height: 12.5rem;
  border: none;
  border-radius: 50%;
  background-color: #F9DC36;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.hero a{
  width: auto;
  height: auto;
  padding: 1.25rem 2.5rem;
  background-color: #F9DC36;
  color: #36393F;
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 12rem;
}

section.features{
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  gap: 5.5rem;
}

section.features .container{
  width: 100%;
  display: flex;

}
section.features .feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

section.features .shield{
  justify-content: center;
}
section.features p{
  width: 60%;
  font-size: 1.125rem;
  margin: 0;
}

section.features h4{
  font-size: 1.563rem;
  margin: 0;
}

section.command-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.75rem;
  height: 100%;
}
section.command-list h1{
  width: 100%;
  text-align: center;
}
.accordion {
  width: 75%;
  border-radius: 5px;
  
  margin-top: 3.75rem;
  color: #ffffff; 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.accordion .accordion-item{
  background: #40444B;
  border-radius: 5px;
  width: 100%;
}
.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23F9DC36;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #40444B;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
  border-radius: 5px;
}

.accordion__content p{
  width: 80%;
}
.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}
